/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
#light-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 88px;
  height: 480px;
}

.red-light {
  background-color: red;
  box-shadow: 0 0 20px red;
}

.yellow-light {
  background-color: yellow;
  box-shadow: 0 0 20px yellow;
}

.green-light {
  background-color: green;
  box-shadow: 0 0 20px green;
}

.light {
  width: 78px;
  height: 78px;
  border-radius: 50%;

}

.not-active {
  background-color: gray;
}

#light-btn {
  align-items: center;
  background-color: #0276ff;
  border-radius: 5px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px 18px;
  text-align: center;
  font-size: 16px;
}

#light-btn:active {
  background-color: #006ae8;
}

#light-btn:hover {
  background-color: #1c84ff;
}

.traffic-light-sign {
  z-index: -1;
  position: absolute;
  width: 20%;
  min-width: 310px;
}