* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
    padding: 48px;
}

.grid-container__item {
    /* font-size: 20px; */
    padding: 3px;
    /* background: gold; */
    /* text-align: center; */
    position: relative;
    font-family: 'Delius Unicase';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
text-align: center;
/* letter-spacing: 0.05em; */
color: #000000;
/* padding-bottom: 80px; */
}

.grid-container__position1 {
    /* grid-row-start: 1; */
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 4;
padding-bottom: 80px;
padding-top: 120px;
}

.grid-container__position3 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 1;
    grid-column-end: 4;
}

.grid-container__position4 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
}

.grid-container__position7 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 4;
}

.grid-container__position9 {
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 4;
}

.grid-container__position10 {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 3;
}

.grid-container__position11 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 4;
padding-bottom: 80px;
padding-top: 120px;
}

.grid-container__position12 {
    grid-row-start: 6;
    grid-column-start: 3;
    grid-row-end: 8;
    grid-column-end: 4;
}

.grid-container__position13 {
    grid-row-start: 8;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 3;
}

.grid-container__position16 {
    grid-row-start: 10;
    grid-column-start: 2;
    grid-row-end: 12;
    grid-column-end: 2;
}

.grid-container__position19 {
    grid-row-start: 11;
    grid-column-start: 3;
    grid-row-end: 13;
    grid-column-end: 4;
}

.grid-container__position20 {
    grid-row-start: 12;
    grid-column-start: 1;
    grid-row-end: 14;
    grid-column-end: 2;
}

.grid-container__position22 {
    grid-row-start: 13;
    grid-column-start: 2;
    grid-row-end: 13;
    grid-column-end: 4;
}

.grid-container__position23 {
    grid-row-start: 14;
    grid-column-start: 1;
    grid-row-end: 14;
    grid-column-end: 3;
}


.grid-container__position24 {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 9;
    grid-column-end: 4;
padding-bottom: 80px;
padding-top: 120px;
}

.grid-container__image {
    border-radius: 10px;
}

.grid-container__subtitle {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 12px;
    color: white;
}

.grid-container__image-title {
    font-weight: 500;
    font-family: 'Roboto';
font-style: normal;
font-size: 20px;
line-height: 23px;
color: #E0E0E0;
}

.grid-container__image-text {
    font-weight: 400;
    font-family: 'Roboto';
font-style: normal;
font-size: 20px;
line-height: 23px;
color: #E0E0E0;
}