
@font-face {
    font-family: 'francois_oneregular';
    src: url('../fonts/francoisone-regular-webfont.eot');
    src: url('../fonts/francoisone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/francoisone-regular-webfont.woff2') format('woff2'),
         url('../fonts/francoisone-regular-webfont.woff') format('woff'),
         url('../fonts/francoisone-regular-webfont.ttf') format('truetype'),
         url('../fonts/francoisone-regular-webfont.svg#francois_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}