@import "../../scss/mixins";
@import "../../scss/variables";

.main-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1920px;
    height: 862px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0 auto;

    .img-holder {
      z-index: 1;

      img {
        display: none;

        &.img-mobile576 {
          display: block;
          height: 862px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;

          @include media(">576px") {
            display: none;
          }
        }

        &.img-tablet768 {
          @include media(">=576px") {
            display: block;
            height: 862px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }

          @include media(">768px") {
            display: none;
          }
        }

        &.img-desktop1024 {
          @include media(">=768px") {
            display: block;
            height: 862px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }

          @include media(">1024px") {
            display: none;
          }
        }

        &.img-desktop1360 {
          @include media(">=1024px") {
            display: block;
            height: 862px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }

          @include media(">1360px") {
            display: none;
          }
        }

        &.img-desktop1920 {
          @include media(">=1360px") {
            display: block;
            height: 862px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
        }
      }
    }

    .main-image__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      z-index: 5;
      font-family: "Josefin Sans";
      font-style: normal;
      color: $white;
      margin-bottom: 48px;
    }

    .main-image__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 52px;
      text-transform: uppercase;
    }

    .main-image__subtitle {
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 7px;
    }

    .main-image__search-form {
      height: 60px;
      width: 33.7%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 5;

      @include media("<=1024px") {
        width: 63.18%;
      }

      @include media("<=768px") {
        width: 84.24%;
      }

      @include media("<=576px") {
        width: 93.75%;
      }

      @include media(">1024px") {
        width: 47.57%;
      }

      @media screen and (min-width: 1360px) {
        width: 47.57%;
      }

      .main-image__search-form__input {
        border: 1px solid $red;
        outline: none;
        width: 100%;
        height: 58px;
        padding: 0 10px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        font-family: "Aleo", serif;
        font-weight: 500;
        font-size: 20px;

        &::placeholder {
          font-family: "Josefin Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 5px;
          color: $text_gray;
        }
      }

      .main-image__search-form__button {
        background-color: $red;
        color: $white;
        width: 180px;
        height: 58px;
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }

      .main-image__search-form__button:hover,
      .main-image__search-form__button:focus {
        background-color: $accent_darker;
      }

      .main-image__search-form__icon {
        width: 16px;
        height: 16px;
      }

      .main-image__search-form__icon__wrapper{
        display: flex;
        align-items: center;
      }
    }

    .main-button {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      bottom: 140px;
      position: absolute;
      z-index: 10;
      cursor: pointer;

      .main-button__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 5px;
        color: $white;
      }

      .main-button_icon {
        width: 14px;
        height: 16px;
      }
    }
  }
