*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    background-color: #F2F2F2;
}
.my-header{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    width: 90%;
    margin: 0 auto;
    align-items: center;
}
.main-nav{
    display: flex;
    list-style: none;
    gap: 16px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #2F281E;

}
.nav-btn{
    font-weight: 600;
    border-radius: 4px;
    padding: 13px 25px;
    background-color: #F2F2F2;
    border: 1px solid #BCD0E5;
    font-size: 16px;
}
.btn-akcent{
    background: #FF9900;
    color: white;
}
.button-container{
    display: flex;
    align-items: center;
    gap: 32px;
}
.section1{
display: flex;
justify-content: space-between;
align-items: center;
width: 1200px;
height: 495px;
margin: 0 auto;
padding-top: 48px;
}
.section1-container{
    display: flex;
    flex-direction: column;
}
.section1-header{
padding-bottom: 24px;
font-weight: 700;
font-size: 44px;
}
.section1-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    padding-bottom: 24px;
}
.started-btn{
   padding: 13px 40px; 
   font-weight: 600;
   font-size: 16px;
   border: 1px solid #BCD0E5;
   border-radius: 4px;
   width: 180px;
}