*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width:1170px;;
    margin: 0 auto;
    padding: 25px 0;
}

.header {
    border-bottom: 1px solid #EFEEF3;
}

.service{
    margin-bottom: 100px;
    padding-top: 100px;
    width: 100%;
    max-width:1170px;;
    margin: 0 auto;
    padding: 40px 25px 100px 25px;
    
}
body{
    font-family: 'Roboto';
}
p{
    font-size: 14px;
    line-height: 28px;
}

h1{
    font-family: 'Nunito Sans';
    font-weight: 600px;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #16133D;
    margin: 0 auto;
}
.pseudo-title{
    font-size: 16px;
    line-height: 21px;
    color: #7690A8;
    padding-bottom: 15px;
}
h2{
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
}
.btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #3DB370;
    text-decoration: none;
    
}
.logo{
    width: 64px;
    height: 64px;
    border: 1px solid rgba(61, 170, 112, 0.1);
    border-radius: 16px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-top: 40px;
    
    height: 340px;

}

.col{
    border: 1px solid #E5EAF4;
    border-radius: 8px;
    width: 370px;
    height: 340px;
    text-align: left;
    padding: 40px;
}
.footer{
    background: #16133D;
    border-radius: 0px;
}
.f-holder-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0;
    margin: 40;
    gap: 10px;
    width: 100%;
    max-width:1170px;;
    margin: 0 auto;
}
.png-logo{
    width: 100%;
    max-width:1170px;;
    margin: 0 auto;
    padding: 25px 0;
}

